.u-section-1 .u-sheet-1 {
  min-height: 798px;
}

.u-section-1 .u-image-1 {
  width: 645px;
  height: 797px;
  margin: 1px auto 1px 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 667px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 420px;
  }
}
