.u-section-1 .u-sheet-1 {
  min-height: 69px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  align-self: center;
  margin: 10px 0 0 auto;
  padding: 10px 63px 10px 62px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -43px auto 10px 0;
  padding: 10px 62px 10px 61px;
}.u-section-2 .u-sheet-1 {
  min-height: 93px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 21px 0;
}.u-section-3 .u-sheet-1 {
  min-height: 906px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-image-1 {
  height: 378px;
  width: 1158px;
  margin: 15px auto 20px -18px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-3 .u-image-1 {
    height: 307px;
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    height: 235px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    height: 176px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 111px;
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1412px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  width: 832px;
  height: 376px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 767px;
  height: 347px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-image-3 {
  width: 742px;
  height: 322px;
  margin: 30px auto 60px 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1330px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 325px;
  }

  .u-section-4 .u-image-2 {
    width: 720px;
    height: 326px;
  }

  .u-section-4 .u-image-3 {
    width: 720px;
    height: 312px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1090px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 244px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 245px;
  }

  .u-section-4 .u-image-3 {
    width: 540px;
    height: 234px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 154px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 154px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 147px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 69px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  align-self: center;
  margin: 10px 0 0 auto;
  padding: 10px 63px 10px 62px;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -43px auto 10px 0;
  padding: 10px 62px 10px 61px;
}